.pn-app-footer {
  width: 100%;
  background: #1e1e2f;
  color: #fff;
  padding: 18px 6%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  margin: 0;
  position: relative;
  
}

.footer-logo {
  width: 40px;
  height: 40px;
  opacity: 0.9;
}

.footer-app-name {
  font-weight: 600;
  font-size: 22px;
  opacity: 0.95;
  font-family: "Raleway", sans-serif;
}

.footer-right {
  display: flex;
  gap: 0.6rem;
  font-size: 20px;
  flex-wrap: wrap;
  font-weight: 400;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}

.footer-right a {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.85;
  transition: color 0.25s ease, opacity 0.25s ease;
}

.pn-app-footer span {
  font-size: 28px;
  position: relative;
  top: -10px;
}

.footer-right a:hover {
  opacity: 1;
  color: #ff7a00;
}

@media (max-width: 1194px) {
  .pn-app-footer {
    width: 100%;
    padding: 1rem 0.5rem;   
  }

  .footer-right {
    gap: 0.4rem;            
    font-size: 15px;
  }

  .footer-app-name {
    font-size: 20px;
  }
}


@media (max-width: 1020px) {
  .pn-app-footer {
    display: none !important;
  }
}